@use "../tokens/typography";
@use "../tokens/colors";
@use "../tokens/styles";

@use "theme_globals" as tg;

@mixin light-theme {
	--default-background: var(--mono-10);
	--default-background-color-hover: var(--mono-15);
	--default-background-color-active: var(--mono-20);
	--default-border-color: var(--mono-15);
	--default-border-size: var(--border-1);
	--default-border-style: solid;
	--default-text-color: var(--mono-70);
	--default-icon-color: var(--mono-70);
	--default-radius: var(--radius-0);

	--action-background-color: var(--blue-100);
	--action-background-color-hover: var(--blue-50);
	--action-background-color-active: var(--blue-25);
	--action-border-size: var(--border-0);
	--action-text-color: var(--white);
	--action-icon-color: var(--white);
	--action-radius: var(--radius-8);
}

@mixin dark-theme {
	--action-background-color: var(--white);
	--action-background-color-hover: var(--mono-05);
	--action-background-color-active: var(--mono-10);
	--action-border-size: var(--border-0);
	--action-text-color: var(--blue-100);
	--action-icon-color: var(--blue-100);
	--action-radius: var(--radius-8);

	body {
		background-color: var(--mono-50);
		color: var(--mono-05);
	}
}

@mixin contrast-theme {
	--action-background-color: var(--blue-100);
	--action-background-color-hover: var(--blue-50);
	--action-background-color-active: var(--blue-25);
	--action-border-size: var(--border-0);
	--action-text-color: var(--white);
	--action-icon-color: var(--white);
	--action-radius: var(--radius-8);
}

:root,
.light-theme {
	@include light-theme;
	@include tg.globals;
}

.dark-theme {
	@include dark-theme;
	@include tg.globals;
}

@media (prefers-color-scheme: light) {
	// :root {
	//   @include light-theme;
	// }
}

@media (prefers-color-scheme: dark) {
	// :root {
	//   @include dark-theme;
	// }
}

@media (prefers-contrast: more) {
	:root {
		@include contrast-theme;
	}
}

@media (prefers-reduced-motion) {
	:root {
		/* Remove animations here */
	}
}
