# Files
.eslintrc.json
.prettierrc.json
readme.md
stencil.config.ts
tsconfig.json
package.json
package-lock.json
*.html
src/components.d.ts

# Folders
/.vscode
/node_modules/
/www
/dist
/loader
/build
/coverage
